.page {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100%; }
  .page:after {
    content: " ";
    display: block;
    clear: both; }

h1 {
  margin: 0; }

h2 {
  margin: 0;
  color: #424242; }

h3 {
  margin: 0;
  color: #424242; }

img {
  width: 100%; }

body {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin: 0px;
  background-color: #F5F5F5;
  font-family: fontello;
  height: 100%; }
  body .ui-btn {
    width: 100%;
    text-align: center;
    padding: none;
    text-decoration: none;
    font-weight: bold;
    background-color: #424242;
    border: #787878;
    height: 4em;
    color: white; }
    body .ui-btn:hover {
      background-color: #33BCF2; }
  @media (min-width: 700px) {
    body #leftSection {
      display: none; }
    body #mainSection {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      height: 100%; }
    body #rightSection {
      display: none; } }
  @media (min-width: 100px) {
    body #leftSection {
      display: none; }
    body #mainSection {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      height: 100%; }
    body #rightSection {
      display: none; } }
  @media (min-width: 1000px) {
    body #leftSection {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 25%;
      float: left;
      display: block; }
    body #mainSection {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
      float: left;
      border-left: 1px solid #787878;
      border-right: 1px solid #787878;
      height: 100%;
      background-color: white; }
      body #mainSection h2 {
        font-size: 300%; }
      body #mainSection h3 {
        font-size: 200%; }
    body #rightSection {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 25%;
      float: left;
      display: block; } }
  body #mainHeader {
    display: block;
    background-color: white;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%; }
    body #mainHeader #club-name {
      color: #424242; }
    @media (min-width: 100px) {
      body #mainHeader {
        font-size: 220%; }
        body #mainHeader #menuButton {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 16.66667%;
          float: left;
          padding-left: 0.83333%;
          padding-right: 0.83333%;
          padding-top: 5px;
          height: 100%;
          color: #424242; }
        body #mainHeader #club-name {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 66.66667%;
          float: left;
          padding-left: 0.83333%;
          padding-right: 0.83333%; }
        body #mainHeader div {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 16.66667%;
          float: right;
          padding-left: 0.83333%;
          padding-right: 0.83333%; } }
    @media (min-width: 700px) {
      body #mainHeader {
        font-size: 320%; } }
    @media (min-width: 1000px) {
      body #mainHeader {
        font-size: 200%; }
        body #mainHeader #menuButton {
          display: none; }
        body #mainHeader #club-name {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 83.33333%;
          float: left;
          padding-left: 0.83333%;
          padding-right: 0.83333%; } }
    @media (min-width: 1500px) {
      body #mainHeader {
        font-size: 300%; } }
    @media (min-width: 1800px) {
      body #mainHeader {
        font-size: 420%; } }
  @media (min-width: 100px) {
    body #mainMenuLarge {
      display: none; } }
  @media (min-width: 1000px) {
    body #mainMenuLarge {
      display: block;
      background-color: #424242;
      padding-bottom: 10px;
      padding-top: 10px;
      -moz-box-shadow: 0 0 3px #888;
      -webkit-box-shadow: 0 0 5px #888;
      box-shadow: 0 0 3px #888;
      border-bottom: 1px solid #787878;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      padding-left: 1.66667%;
      padding-right: 1.66667%; }
      body #mainMenuLarge div {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 16.66667%;
        float: left;
        padding-left: 1.66667%;
        padding-right: 1.66667%; }
        body #mainMenuLarge div a {
          font-size: 100%; }
          body #mainMenuLarge div a:hover {
            -moz-box-shadow: inset 0 0 10px #000000;
            -webkit-box-shadow: inset 0 0 10px #000000; } }
  @media (min-width: 1500px) {
    body #mainMenuLarge div a {
      font-size: 120%; } }
  @media (min-width: 1800px) {
    body #mainMenuLarge div a {
      font-size: 150%; } }
  @media (min-width: 100px) {
    body #sectionHeading {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      padding-left: 0.83333%;
      padding-right: 0.83333%;
      display: block;
      text-align: center;
      color: #424242;
      background-color: white;
      border-bottom: 1px solid #787878;
      font-size: 100%; } }
  @media (min-width: 700px) {
    body #sectionHeading {
      display: block;
      font-size: 200%; } }
  @media (min-width: 1000px) {
    body #sectionHeading {
      display: none; } }
  body #mainContent .groupContent {
    padding-bottom: 10px; }
  @media (min-width: 100px) {
    body #mainContent {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      padding-left: 0.83333%;
      padding-right: 0.83333%;
      padding-top: 5px; }
      body #mainContent .itemGroup {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        float: left;
        padding-left: 0.83333%;
        padding-right: 0.83333%;
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: white;
        border: 1px solid #C4C4C4;
        -moz-box-shadow: 0 0 3px #888;
        -webkit-box-shadow: 0 0 3px #888;
        box-shadow: 0 0 3px #888;
        /*&:nth-child(3) {
        	@include span(4 of 12 last);
        } */ }
        body #mainContent .itemGroup .itemHeader {
          border-bottom: 1px solid #787878;
          color: #424242;
          font-weight: bold;
          font-size: 200%; }
        body #mainContent .itemGroup .itemFooter {
          border-top: 1px solid #787878;
          color: #424242; }
          body #mainContent .itemGroup .itemFooter span {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 33.33333%;
            float: left;
            padding-left: 0.83333%;
            padding-right: 0.83333%; }
            body #mainContent .itemGroup .itemFooter span:nth(2) {
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              width: 33.33333%;
              float: right;
              padding-left: 0.83333%;
              padding-right: 0.83333%;
              text-align: right; }
        body #mainContent .itemGroup .eventWrapperHeader {
          margin-bottom: 10px;
          text-align: center;
          color: #424242;
          background-color: white; }
        body #mainContent .itemGroup .eventSubWrapper {
          color: white;
          background-color: #919191;
          border-top: 1px solid #424242;
          border-left: 1px solid #424242;
          border-right: 1px solid #424242; }
        body #mainContent .itemGroup .eventHeader {
          height: 100px; }
          body #mainContent .itemGroup .eventHeader .eventDate {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 16.66667%;
            float: left;
            padding-left: 0.83333%;
            padding-right: 0.83333%;
            height: 100%;
            font-size: 300%;
            text-align: center;
            color: #db7d00;
            background-color: #424242;
            border-bottom: 1px solid #db7d00;
            border-right: 1px solid #db7d00; }
            body #mainContent .itemGroup .eventHeader .eventDate span {
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              width: 100%;
              float: left;
              padding-left: 5%;
              padding-right: 5%;
              font-weight: bold; }
          body #mainContent .itemGroup .eventHeader .eventBottomText {
            font-size: 50%; }
          body #mainContent .itemGroup .eventHeader .eventTitle {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 66.66667%;
            float: left;
            padding-left: 0.83333%;
            padding-right: 0.83333%;
            text-align: center;
            height: 100%;
            font-size: 300%;
            border-bottom: 1px solid #424242; }
            body #mainContent .itemGroup .eventHeader .eventTitle span {
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              width: 100%;
              float: left;
              padding-left: 1.25%;
              padding-right: 1.25%; }
          body #mainContent .itemGroup .eventHeader .eventPlayers {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 16.66667%;
            float: right;
            padding-left: 0.83333%;
            padding-right: 0.83333%;
            height: 100%;
            text-align: center;
            font-size: 300%;
            font-weight: bold;
            color: #db7d00;
            background-color: #424242;
            border-bottom: 1px solid #db7d00;
            border-left: 1px solid #db7d00; }
            body #mainContent .itemGroup .eventHeader .eventPlayers span {
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              width: 100%;
              float: left;
              padding-left: 5%;
              padding-right: 5%; }
        body #mainContent .itemGroup .eventContent {
          background-color: white;
          color: #424242;
          border-bottom: 1px solid #787878;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          float: right;
          padding-left: 0.83333%;
          padding-right: 0.83333%; }
        body #mainContent .itemGroup .eventFooter {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          float: left;
          padding-left: 0.83333%;
          padding-right: 0.83333%;
          font-size: 100%; } }

.last {
  height: 100%; }

a {
  text-decoration: none;
  color: white;
  text-align: center;
  display: block;
  cursor: hand;
  height: 100%; }
  a.toggled {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000; }

.toolTipContent {
  background-color: #424242;
  color: white;
  border-radius: 5px;
  height: auto;
  font-size: 70%; }

.toolTipWrapper {
  width: 200px;
  position: absolute; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-left: 95px;
  margin-right: 95px;
  border-top: 10px solid #424242; }

.errorBox {
  background-color: #FF9696;
  border-color: #FF4545; }

.ui-txt {
  width: 100%;
  border: 1px solid #787878;
  box-shadow: inset 0 0 3px #888;
  height: 30px;
  font: normal normal 16px fontello serif;
  margin-bottom: 5px; }

.ui-lbl {
  font: normal normal 16px fontello serif;
  margin-top: 5px; }

.menuNavigator {
  border-left: 1px solid #5C0F40;
  border-right: 1px solid #5C0F40;
  border-bottom: 1px solid #5C0F40;
  position: absolute;
  background-color: white;
  display: none; }
  .menuNavigator .navHeader {
    display: block;
    list-style-type: disc;
    padding: 0px;
    margin: 0px; }
    .menuNavigator .navHeader li {
      padding: 5px;
      list-style: none;
      display: list-item;
      text-align: -webkit-match-parent;
      cursor: hand;
      border-bottom: 1px solid #787878; }
      .menuNavigator .navHeader li a {
        color: #424242;
        font-size: 200%;
        text-align: left; }
  .menuNavigator.enabled {
    display: block; }
